 /* 
Dark-grey = 282B30
Light-grey = 5F6368
Light-blue = 565880
Unselected-text = ECECF9 (40% opacity)
Selected-text (primary text) = ECECF9 (100% opacity)
border-radius: 20px; for boxes
box-shadow: 6px 12px 14px #282B30;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  background-color: #5F6368;
  height: 0px;
  width: 0px;
}

/*
CONTROLLERS.HTML
*/
.controllers1content1 {
  position: absolute !important;
  margin-left: 220px;
  margin-top: 10px;
  width: 600px;
  background-color: #282B30; /* Background color */
  border: 2px solid #282B30;   /* Border style */
  padding: 20px;            /* Padding inside the frame */
  border-radius: 20px;
  box-shadow: 6px 12px 14px #282B30;

}
.controllers1text1 {
  margin: 0 auto;
  margin-top: 0;
  padding: 10px;
  width: 600px;
  color: #ECECF9;
  background-color: #282B30;
  opacity: 0.9;
  
}
.controllers1table{
  margin: 0 auto;
  margin-top: 0 auto;
  padding: 20px;
  color: #ECECF9;
  opacity: 0.8;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.controllers1tablerow{
  padding: 50px;
  width: 100px;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, .4);
}
.controllers1tablehead{
  text-align: left;
}

/*
INDEX.HTML
*/
#map {
  height: 550px;
  width: 1000px;
  position: absolute;
  margin-left: 220px;
  margin-top: 10px;
  border-radius: 20px; 
  box-shadow: 6px 12px 14px #282B30;
  
  
}
.indexcontent1 {
  position: absolute;
  margin-left: 220px;
  margin-top: 580px;
  width: 1000px;
  height: 300px;
  background-color: #282B30; /* Background color */
  border: 2px solid #282B30;   /* Border style */
  padding: 20px;            /* Padding inside the frame */
  border-radius: 20px;
  box-shadow: 6px 12px 14px #282B30;

}
.index1text1 {
  margin: 0 auto;
  margin-top: 0;
  padding: 10px;
  width: 400px;
  color: #ECECF9;
  background-color: #282B30;
  opacity: 0.9;
  
}
.index1table{
  margin: 0 auto;
  margin-top: 0 auto;
  padding: 20px;
  color: #ECECF9;
  opacity: 0.8;
  border-collapse: collapse;
  font-weight: 100;
  width: 100%;
}
.index1tablerow{
  height: max-content;
  padding: 50px;
  height: 50px;
  font-weight: 100;
  font-size: 16px;
  color: #ececf9ab;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.index1tablehead{
  font-size: large;
  font-weight: 600;
  color: #ECECF9;
  text-align: left;
}


.content {
  margin: 0 auto;
}
.sidebar a.active,
.sidebar a.selected {
  background-color: #282B30;
  color: white;
}

/* Index table status column */
.tablestatus1 {
  font-weight: 900;
  color: red;
}
.tablestatus2 {
  font-weight: 900;
  color: red;
}
.tablestatus3 {
  font-weight: 900;
  color: red;
}
.tablestatus4 {
  font-weight: 900;
  color: red;
}
.tablestatus5 {
  font-weight: 900;
  color: red;
}


/* Power button */
.powerbutton {
  display: flex;
}

.switch {
  background-color: black;
  width: 30px;
  height: 36px;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.1), 0 0 1px 0px black, inset 0 2px 2px -2px white, inset 0 0 2px 6px #5F6368, inset 0 0 2px 13px black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px; 
  margin-bottom: 5px;
  perspective: 700px;
}
.switch input {
  display: none;
}
.switch input:checked + .button {
  transform: translateZ(20px) rotateX(6deg);
  box-shadow: 0 -10px 20px #ff1818;
}
.switch input:checked + .button .light {
  animation: flicker 0.2s infinite 0.3s;
}
.switch input:checked + .button .shine {
  opacity: 1;
}
.switch input:checked + .button .shadow {
  opacity: 0;
}
.switch .button {
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  transform-origin: center center -20px;
  transform: translateZ(20px) rotateX(-6deg);
  transform-style: preserve-3d;
  background-color: #9b0621;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  background: linear-gradient(#980000 0%, #6f0000 30%, #6f0000 70%, #980000 100%);
  background-repeat: no-repeat;
}
.switch .button::before {
  content: "";
  background: linear-gradient(rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0.3) 30%, #650000 75%, #320000) 50% 50%/97% 97%, #b10000;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  transform-origin: top;
  transform: rotateX(-90deg);
  position: absolute;
  top: 0;
}
.switch .button::after {
  content: "";
  background-image: linear-gradient(#650000, #320000);
  width: 100%;
  height: 50px;
  transform-origin: top;
  transform: translateY(50px) rotateX(-90deg);
  position: absolute;
  bottom: 0;
  box-shadow: 0 50px 8px 0px black, 0 80px 20px 0px rgba(0, 0, 0, 0.5);
}
.switch .light {
  opacity: 0;
  animation: light-off 1s;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#ffc97e, #ff1818 40%, transparent 70%);
}
.switch .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(transparent 30%, rgba(101, 0, 0, 0.7) 70%);
  background-size: 10px 10px;
}
.switch .characters {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, white) 50% 20%/5% 20%, radial-gradient(circle, transparent 50%, white 52%, white 70%, transparent 72%) 50% 80%/33% 25%;
  background-repeat: no-repeat;
}
.switch .shine {
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, transparent 3%) 50% 50%/97% 97%, linear-gradient(rgba(255, 255, 255, 0.5), transparent 50%, transparent 80%, rgba(255, 255, 255, 0.5)) 50% 50%/97% 97%;
  background-repeat: no-repeat;
}
.switch .shadow {
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.8));
  background-repeat: no-repeat;
}



@keyframes flicker {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes light-off {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

/*
LOGGERS.HTML
*/
.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  width: 820px;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin-top: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;


}

.fakeScreen {
  background-color: #282B30;
  box-sizing: border-box;
  width: 820px;
  margin-top: 0 auto;
  margin-bottom: 5px;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 6px 12px 14px #282B30
}

p {
  position: relative;
  left: 13%;
  margin-left: -8.5em;
  text-align: left;
  font-size: 12px;
  font-family: monospace;
  white-space: normal;
  overflow: hidden;
  width: 700px;
}
.logarea1{
  width: 700px;
  height: 150px;
  background-color: transparent; /* Make the background transparent */
  border: none;
  resize: none; /* Disable the resizer */

}
.logarea1#log1,.logarea1#log2,.logarea1#log3,.logarea1#log4,.logarea1#log5,.logarea1#log6{
  position: relative;
  left: 13%;
  margin-left: -8.5em;
  text-align: left;
  font-size: 12px;
  font-family: monospace;
  white-space: normal;
  width: 700px;
  color: #CDEE69;
  -webkit-animation: type .5s 4.25s steps(20, end) forwards;
  -moz-animation: type .5s 4.25s steps(20, end) forwards;
  -o-animation: type .5s 4.25s steps(20, end) forwards;
  animation: type .5s 4.25s steps(20, end) forwards;
}
.logarea1::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar in webkit browsers (e.g., Chrome, Safari) */
}

.logarea1:focus {
  outline: none;
}
.logarea1::-webkit-scrollbar-thumb {
  background: transparent; /* Hide the thumb in webkit browsers */
}

.logarea1::-webkit-scrollbar-track {
  background: transparent; /* Hide the track in webkit browsers */
}


span {
  color: #fff;
  font-weight: bold;
}

.line1 {
  margin-top: 0;
  color: #9CD9F0;
  -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards;
}

.cursor1 {
  -webkit-animation: blink 1s 2s 2 forwards;
  -moz-animation: blink 1s 2s 2 forwards;
  -o-animation: blink 1s 2s 2 forwards;
  animation: blink 1s 2s 2 forwards;
}

.line2 {
  color: #CDEE69;
  -webkit-animation: type .5s 4.25s steps(20, end) forwards;
  -moz-animation: type .5s 4.25s steps(20, end) forwards;
  -o-animation: type .5s 4.25s steps(20, end) forwards;
  animation: type .5s 4.25s steps(20, end) forwards;
}

.cursor2 {
  -webkit-animation: blink 1s 5.25s 2 forwards;
  -moz-animation: blink 1s 5.25s 2 forwards;
  -o-animation: blink 1s 5.25s 2 forwards;
  animation: blink 1s 5.25s 2 forwards;
}

.line3 {
  color: #E09690;
  -webkit-animation: type .5s 7.5s steps(20, end) forwards;
  -moz-animation: type .5s 7.5s steps(20, end) forwards;
  -o-animation: type .5s 7.5s steps(20, end) forwards;
  animation: type .5s 7.5s steps(20, end) forwards;
}

.cursor3 {
  -webkit-animation: blink 1s 8.5s 2 forwards;
  -moz-animation: blink 1s 8.5s 2 forwards;
  -o-animation: blink 1s 8.5s 2 forwards;
  animation: blink 1s 8.5s 2 forwards;
}

.line4 {
  margin-bottom: 4px;
  margin-top: 4px;
  color: #fff;
  -webkit-animation: type .5s 10.75s steps(20, end) forwards;
  -moz-animation: type .5s 10.75s steps(20, end) forwards;
  -o-animation: type .5s 10.75s steps(20, end) forwards;
  animation: type .5s 10.75s steps(20, end) forwards;
}

.cursor4 {
  -webkit-animation: blink 1s 11.5s infinite;
  -moz-animation: blink 1s 8.5s infinite;
  -o-animation: blink 1s 8.5s infinite;
  animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 17em;
  }
}

@-moz-keyframes type {
  to {
    width: 17em;
  }
}

@-o-keyframes type {
  to {
    width: 17em;
  }
}

@keyframes type {
  to {
    width: 17em;
  }
}
@keyframes type {
  to {
    width: 700px; /* Keep the width constant at 700px */
  }
}
.logger1, .logger2, .logger3, .logger4, .logger5, .logger6{
  position: absolute !important;
  margin-top: 20px;
  margin-bottom: 20px;

}
.logger1{
  margin-top: 10px;
  margin-left: 220px;
}

.logger2{
  margin-top: 330px;
  margin-left: 220px;
}

.logger3{
  margin-top: 650px;
  margin-left: 220px;
}

.logger4{
  margin-top: 10px;
  margin-left: 1062px;
}

.logger5{
  margin-top: 330px;
  margin-left: 1062px;
}
.logger6{
  margin-top: 650px;
  margin-left: 1062px;
}

/* SIDEBAR*/
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #282B30;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 6px 12px 14px #282B30;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #ECECF9;
  padding: 16px;
  opacity: 0.5;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active:not(.img-link) {
  background-color: #565880;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active, .img-link) {
  background-color: #565880;
  color: white;
  opacity: 1;
}
.sidebar a:hover:is(.img-link){
  background-color: #282B30;
  color: white;
  opacity: 1;
}
.sidebar a:selected:is(.active):not(.img-link){
  background-color: #565880;
}
.sidebar a:active:not(.img-link){
  background-color: #565880 !important;
} 
.sidebar ul li {
  list-style: none;
  
}
.sidebar ul li:is(.active):not(.img-link) {
  background-color: #565880 !important;
}
.sidebar ul {
  padding: 0;
  margin: 0;
  
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}


.img-sidebar {
  width: 160px;
  height: 170px;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}