
{% extends 'base.html' %}

{% block head %}
<script src="jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% block scripts %}{% endblock %}

<script>
    // Make sure to call the function after the external script (jquery.js) is loaded
    $(document).ready(function() {
        re_update();
        // re_update_status();
        // re_send_current_gain();
        page_load_checkbox();
        page_load_apower();
        page_load_gainvalue();
        page_load_bitrate();
        graph();
        ChangeGain();
        
        
    });
    $(function () {
        $("li:not(.menu)").click(function (e) {
            e.preventDefault();
            $("li:not(.menu)").removeClass("active");
            $(this).addClass("active");
        });
    });
    $(function () {
        $(".e-list").slideUp(function() {
            $(".e-button").removeClass("open");
        });
        
        $(".e-button").on("click", function() {
            if ($(this).hasClass("open")) {
                $(".e-list").slideUp(function() {
                    $(".e-button").removeClass("open");
                });
            } else {
                $(this).addClass("open");
                setTimeout(function() {
                    $(".e-list").stop().slideDown();
                }, 200);
            }
        });
    });


    
</script>
<title class="Title">5imFortress</title>
{% endblock %}

{% block body %}

<!-- The sidebar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sidebar">
    <a href="/dashboard" class="img-link"><img src="https://github.com/frankuman/5imFortress/blob/main/HMI/frontend/gui/templates/img/logowhite.png?raw=true" alt="Logo" class="img-sidebar"></a>
    <ul>
        <!-- <li></li> -->
        <li  class="menu "><a href="/dashboard"><i class="fa fa-fw fa-home"></i> Dashboard</a></li>
        <li  class="menu active"> <a  href="/controllers" class="menu"><i class="fa fa-fw fa-wrench"></i> Controllers</a></li>
        <li  class="menu "> <a  href="/loggers"> <i class="fa fa-fw fa-file-text"></i> Logs</a></li>
        <li  class="menu "> <a href="/logout"> <i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
</div>
<body>
    <div class = "controllers1topcontent">

        <div class="controllers1content1">

            <!-- HMI table containing information and controls for each base station -->
            <table class = "controllers1table">
                <tr class = "controllers1tablerow">
                    <th class="controllers1tablehead">Tower name</th>
                    <th class="controllers1tablehead">Status</th>
                    <th class="controllers1tablehead">Power</th>
                    <th class="controllers1tablehead">Bitrate</th>
                </tr>
                <!-- BS 1 -->
                <tr class = "controllers1tablerow">
                    <td>
                        <a>Karlskrona</a>
                    </td>
                    <td>
                        <a id=bsstatus1>UP</a>
                    </td>
                    <td>
                        <div class="powerbutton">
                                <label class="switch">
                                    <input type="checkbox" id="powerb1" checked autocomplete="off" onclick="change_power(1);store_checkbox_value(this,1);">
                                
                                    <div class="button">
                                    <div class="light"></div>
                                    <div class="dots"></div>
                                    <div class="characters"></div>
                                    <div class="shine"></div>
                                    <div class="shadow"></div>
                            
                                    </div>
                                </label>
                        </div>
                    </td>
                    <td>
                        <a id=bitrate1>0</a>
                    </td>
                </tr>
                <!-- BS 2 -->
                <tr class = "controllers1tablerow">
                    <td>
                        <a>Karlshamn</a>
                    </td>
                    <td>
                        <a id=bsstatus2>UP</a>
                    </td>
                    <td>
                        <div class="powerbutton">
                            <label class="switch">
                                <input type="checkbox" id="powerb2" checked  onclick="change_power(2);store_checkbox_value(this,2);">
                                <div class="button">
                                <div class="light"></div>
                                <div class="dots"></div>
                                <div class="characters"></div>
                                <div class="shine"></div>
                                <div class="shadow"></div>
                                </div>
                            </label>
                        </div>
                        
                    </td>
                    <td>
                        <a id=bitrate2>0</a>
                    </td>
                </tr>
                <!-- BS 3 -->
                <tr class = "controllers1tablerow">
                    <td>
                        <a>Ronneby</a>
                    </td>
                    <td>
                        <a id=bsstatus3>UP</a>
                    </td>
                    <td>
                        <div class="powerbutton">
                            <label class="switch">
                                <input type="checkbox" id="powerb3" checked  onclick="change_power(3);store_checkbox_value(this,3);">
                                <div class="button">
                                <div class="light"></div>
                                <div class="dots"></div>
                                <div class="characters"></div>
                                <div class="shine"></div>
                                <div class="shadow"></div>
                                </div>
                            </label>
                        </div>
                        
                    </td>
                    <td>
                        <a id=bitrate3>0</a>
                    </td>
                </tr>
                <!-- BS 4 -->
                <tr class = "controllers1tablerow">
                    <td>
                        <a>Sölvesborg</a>
                    </td>
                    <td>
                        <a id=bsstatus4>UP</a>
                    </td>
                    <td>
                        <div class="powerbutton">
                            <label class="switch">
                                <input type="checkbox" id="powerb4" checked  onclick="change_power(4);store_checkbox_value(this,4);">
                                <div class="button">
                                <div class="light"></div>
                                <div class="dots"></div>
                                <div class="characters"></div>
                                <div class="shine"></div>
                                <div class="shadow"></div>
                                </div>
                            </label>
                        </div>
                        
                    </td>
                    <td>
                        <a id=bitrate4>0</a>
                    </td>
                </tr>
                <!-- BS 5 -->
                <tr class = "controllers1tablerow">
                    <td>
                        <a>Olofström</a>
                    </td>
                    <td>
                        <a id=bsstatus5>UP</a>
                    </td>
                    <td>
                        <div class="powerbutton">
                            <label class="switch">
                                <input type="checkbox" id="powerb5" checked  onclick="change_power(5);store_checkbox_value(this,5);">
                                <div class="button">
                                <div class="light"></div>
                                <div class="dots"></div>
                                <div class="characters"></div>
                                <div class="shine"></div>
                                <div class="shadow"></div>
                                </div>
                            </label>
                        </div>
                        
                    </td>
                    <td>
                        <a id=bitrate5>0</a>
                    </td>
                </tr>
            </table>
        </div>

        
        

        <!-- Dynamic graphs -->
        <div class="controllers1content3">
            <div style="width: 780px; height: 390px; display: flex; justify-content: center; align-items: center;">
                <canvas id="acquisitions"></canvas></div>
        </div>


    </div>
    <div class = "controllers1bottomcontent">
        <nav class="navigation navigation--inline">
            <ul>
              <li act class="setnav active">
                <a href="#" onclick="ShowSettings(1)">1
                  <svg class="icon icon--2x">
                    <use xlink:href="#icon-home" />
                  </svg>
                  <span class="invisible">1</span>
                </a>
              </li>
              <li class="setnav">
                <a href="#" onclick="ShowSettings(2)">2
                  <svg class="icon icon--2x">
                    <use xlink:href="#icon-search" />
                  </svg>
                  <span class="invisible">2</span>
                </a>
              </li>
              <li class="setnav">
                <a href="#" onclick="ShowSettings(3)">3
                  <svg class="icon icon--2x">
                    <use xlink:href="#icon-cart" />
                  </svg>
                  <span class="invisible">3</span>
                </a>
              </li>
              <li>
                <a href="#" onclick="ShowSettings(4)">4

                  <span class="invisible">4</span>
                </a>
              </li>
              <li class="setnav">
                <a href="#" onclick="ShowSettings(5)">5

                  <span class="invisible">5</span>
                </a>
              </li>
            </ul>
        </nav>
        <div class="controllers1content4">
            <p id="Ant1">Antenna 1</p>
            <p id="Ant2">Antenna 2</p>
            <p id="Ant3">Antenna 3</p>
            <p id="Ant4">Antenna 4</p>
            <div class="wrapper1" id="a1-1">
                <input type="checkbox" checked id="onoff1-1" onclick="change_apower(11);store_apower_value(this,11);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div class="wrapper1" id="a1-2">
                <input type="checkbox" checked id="onoff1-2" onclick="change_apower(12);store_apower_value(this,12);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div class="wrapper1" id="a1-3">
                <input type="checkbox" checked id="onoff1-3" onclick="change_apower(13);store_apower_value(this,13);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div class="wrapper1" id="a1-4">
                <input type="checkbox" checked id="onoff1-4" onclick="change_apower(14);store_apower_value(this,14);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a2-1">
                <input type="checkbox" checked id="onoff2-1" onclick="change_apower(21);store_apower_value(this,21);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a2-2">
                <input type="checkbox" checked id="onoff2-2" onclick="change_apower(22);store_apower_value(this,22);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a2-3">
                <input type="checkbox" checked id="onoff2-3" onclick="change_apower(23);store_apower_value(this,23);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a2-4">
                <input type="checkbox" checked id="onoff2-4" onclick="change_apower(24);store_apower_value(this,24);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a3-1">
                <input type="checkbox" checked id="onoff3-1" onclick="change_apower(31);store_apower_value(this,31);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a3-2">
                <input type="checkbox" checked id="onoff3-2" onclick="change_apower(32);store_apower_value(this,32);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a3-3">
                <input type="checkbox" checked id="onoff3-3" onclick="change_apower(33);store_apower_value(this,33);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a3-4">
                <input type="checkbox" checked id="onoff3-4" onclick="change_apower(34);store_apower_value(this,34);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a4-1">
                <input type="checkbox" checked id="onoff4-1" onclick="change_apower(41);store_apower_value(this,41);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a4-2">
                <input type="checkbox" checked id="onoff4-2" onclick="change_apower(42);store_apower_value(this,42);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a4-3">
                <input type="checkbox" checked id="onoff4-3" onclick="change_apower(43);store_apower_value(this,43);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a4-4">
                <input type="checkbox" checked id="onoff4-4" onclick="change_apower(44);store_apower_value(this,44);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a5-1">
                <input type="checkbox" checked id="onoff5-1" onclick="change_apower(51);store_apower_value(this,51);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a5-2">
                <input type="checkbox" checked id="onoff5-2" onclick="change_apower(52);store_apower_value(this,52);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a5-3">
                <input type="checkbox" checked id="onoff5-3" onclick="change_apower(53);store_apower_value(this,53);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
            <div hidden class="wrapper1" id="a5-4">
                <input type="checkbox" checked id="onoff5-4" onclick="change_apower(54);store_apower_value(this,54);">
                <label for="onoff"><i class="fa-solid fa-power-off"></i>
                <span class="lighta"></span>
                </label>
            </div>
        </div>
        
        <div class="controllers1content5">
            <p id="TowerSelect1">Karlskrona</p>
            <output id="GainValue1">0% GAIN</output>
            <p hidden id="TowerSelect2">Karlshamn</p>
            <output hidden id="GainValue2">0% GAIN</output>
            <p hidden id="TowerSelect3">Ronneby</p>
            <output hidden id="GainValue3">0% GAIN</output>
            <p hidden id="TowerSelect4">Sölvesborg</p>
            <output hidden id="GainValue4">0% GAIN</output>
            <p hidden id="TowerSelect5">Olofström</p>
            <output hidden id="GainValue5">0% GAIN</output>

        </div>
        <div class="controllers1content6">
            <input id="Gain1" type='range' value='0' oninput="ChangeGain(1)"/>
            <input hidden id="Gain3" type='range' value='0' oninput="ChangeGain(3)"/>
            <input hidden id="Gain4" type='range' value='0' oninput="ChangeGain(4)"/>
            <input hidden id="Gain5" type='range' value='0' oninput="ChangeGain(5)"/>
            <input hidden id="Gain2" type='range' value='0' oninput="ChangeGain(2)"/>
            <div id="container">
                <div class="paper">
                    <div class="tape"></div>
                    <div class="red-line first"></div>
                    <div class="red-line"></div>
                    <ul id="lines">
                        <li>Hi Intern, welcome to the job</li>
                        <li>turn the tower off with the top left power buttons.</li>
                        <li>The graph shows the current bitrate for each tower</li>
                        <li>Antennas can be turned off with the green buttons</li>
                        <li>Slider changes gain</li>
                        <li>Don't touch anything!</li>
                        <li>Good luck.</li>
                    </ul>
                    <div class="left-shadow"></div>
                    <div class="right-shadow"></div>
                </div><!--end paper-->
            </div><!--end container-->
        </div>
    </div>

</body>

{% endblock %}