
{% extends 'base.html' %}

{% block head %}
{% block scripts %}{% endblock %}
<script src="jquery.js"></script>
<script>
    // Make sure to call the function after the external script (jquery.js) is loaded
    $(document).ready(function() {
        re_get_log();
    });
    $(function () {
        $("li:not(.menu)").click(function (e) {
            e.preventDefault();
            $("li:not(.menu)").removeClass("active");
            $(this).addClass("active");
        });
    });
      // start by retrieving the current state

</script>
<title class="Title">5imFortress</title>
{% endblock %}

{% block body %}
<!-- The sidebar -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sidebar">
    <a href="/dashboard" class="img-link"><img src="https://github.com/frankuman/5imFortress/blob/main/HMI/frontend/gui/templates/img/logowhite.png?raw=true" alt="Logo" class="img-sidebar"></a>
    <ul>
        <li  class="menu"><a href="/dashboard"><i class="fa fa-fw fa-home"></i> Dashboard</a></li>
        <li  class="menu "> <a  href="/controllers" class="menu"><i class="fa fa-fw fa-wrench"></i> Controllers</a></li>
        <li  class="menu active"> <a  href="/loggers"> <i class="fa fa-fw fa-file-text"></i> Logs</a></li>
        <li  class="menu "> <a href="/logout"> <i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
</div>
<div logger>
    <div class="logger1">
        <div class=fakeMenu>
            <div class="fakeButtons fakeClose"></div>
            <div class="fakeButtons fakeMinimize"></div>
            <div class="fakeButtons fakeZoom"></div>
          </div>
          <div class="fakeScreen">
            <p class="line1">$ 5imFortress bs-Karlskrona<span class="cursor1">_</span></p>
            <textarea class="logarea1" id="log1"><span class="cursor2">_</span></textarea>
            <p class="line4">><span class="cursor4">_</span></p>
          </div>
    </div>
    <div class="logger2">
        <div class=fakeMenu>
            <div class="fakeButtons fakeClose"></div>
            <div class="fakeButtons fakeMinimize"></div>
            <div class="fakeButtons fakeZoom"></div>
          </div>
          <div class="fakeScreen">
            <p class="line1">$ 5imFortress bs-Karlshamn<span class="cursor1">_</span></p>
            <textarea class="logarea1" id="log2"><span class="cursor2">_</span></textarea>
            <p class="line4">><span class="cursor4">_</span></p>
          </div>
    </div>
    <div class="logger3">
        <div class=fakeMenu>
            <div class="fakeButtons fakeClose"></div>
            <div class="fakeButtons fakeMinimize"></div>
            <div class="fakeButtons fakeZoom"></div>
          </div>
          <div class="fakeScreen">
            <p class="line1">$ 5imFortress bs-Ronneby<span class="cursor1">_</span></p>
            <textarea class="logarea1" id="log3"><span class="cursor2">_</span></textarea>

            <p class="line4">><span class="cursor4">_</span></p>
          </div>
    </div>
    <div class="logger4">
        <div class=fakeMenu>
            <div class="fakeButtons fakeClose"></div>
            <div class="fakeButtons fakeMinimize"></div>
            <div class="fakeButtons fakeZoom"></div>
          </div>
          <div class="fakeScreen">
            <p class="line1">$ 5imFortress bs-Soelvesborg<span class="cursor1">_</span></p>
            <textarea class="logarea1" id="log4"><span class="cursor2">_</span></textarea>

            <p class="line4">><span class="cursor4">_</span></p>
          </div>
    </div>
    <div class="logger5">
        <div class=fakeMenu>
            <div class="fakeButtons fakeClose"></div>
            <div class="fakeButtons fakeMinimize"></div>
            <div class="fakeButtons fakeZoom"></div>
          </div>
          <div class="fakeScreen">
            <p class="line1">$ 5imFortress bs-Olofstrom<span class="cursor1">_</span></p>

            <textarea class="logarea1" id="log5"><span class="cursor2">_</span></textarea>
            <p class="line4">><span class="cursor4">_</span></p>
          </div>
    </div>
    <div class="logger6">
        <div class=fakeMenu>
            <div class="fakeButtons fakeClose"></div>
            <div class="fakeButtons fakeMinimize"></div>
            <div class="fakeButtons fakeZoom"></div>
          </div>
          <div class="fakeScreen">
            <p class="line1">$ 5imFortress system_info<span class="cursor1">_</span></p>
            <textarea class="logarea1" id="log6"><span class="cursor2">_</span></textarea>
            <p class="line4">><span class="cursor4">_</span></p>
          </div>
    </div>
</div>
{% endblock %}
