
{% extends 'base.html' %}

{% block head %}
<script src="jquery.js"></script>
<script>
    // Make sure to call the function after the external script (jquery.js) is loaded
    $(document).ready(function() {
        re_updateBitrate();
        re_update_status();
        
    });
    $(function () {
        $("li:not(.menu)").click(function (e) {
            e.preventDefault();
            $("li:not(.menu)").removeClass("active");
            $(this).addClass("active");
        });
    });
    // Check if the checkbox state is stored in localStorage
    var checkbox = document.getElementById('powerb');
    var isChecked = localStorage.getItem('checkboxState');
    
    if (isChecked === 'false') {
        checkbox.checked = false;
    }

    // Add an event listener to update localStorage when the checkbox state changes
    checkbox.addEventListener('change', function () {
        localStorage.setItem('checkboxState', this.checked);
    });

</script>
<title class="Title">5imFortress</title>
{% endblock %}

{% block body %}
<!-- The sidebar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sidebar">
    <a href="/" class="img-link"><img src="https://github.com/frankuman/5imFortress/blob/main/gui/templates/img/logowhite.png?raw=true" alt="Logo" class="img-sidebar"></a>
    <ul>
        <!-- <li></li> -->
        <li  class="menu "><a href="/"><i class="fa fa-fw fa-home"></i> Dashboard</a></li>
        <li  class="menu active"> <a  href="/controllers" class="menu"><i class="fa fa-fw fa-wrench"></i> Controllers</a></li>
        <li  class="menu "> <a  href="/"> <i class="fa fa-fw fa-user"></i> Customers</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-line-chart"></i> Analytics</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-bell"></i> Notification</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-desktop"></i> Systems</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-magic"></i> Generate</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-cogs"></i> Settings</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-plus"></i> Add Tower</a></li>
    </ul>
</div>
<div><img src="C:\Users\olive\OneDrive\Desktop\5imFortressGit\5imFortress\templates\img\logowhite.png" alt="Logo">
</div>

<div class="controllers1content1">
    <table class = "controllers1table">
        <tr class = "controllers1tablerow">
            <th class="controllers1tablehead">Tower name</th>
            <th class="controllers1tablehead">Status</th>
            <th class="controllers1tablehead">Power</th>
            <th class="controllers1tablehead">Bitrate</th>
        </tr>
        <tr class = "controllers1tablerow">
            <td>
                <a>Karlskrona</a>
            </td>
            <td>
                <a id=bsstatus1>UP</a>
            </td>
            <td>
                <div class="powerbutton">
                        <label class="switch">
                            <input type="checkbox" id="powerb" checked autocomplete="off" onclick="change_power(1);">
                        
                            <div class="button">
                            <div class="light"></div>
                            <div class="dots"></div>
                            <div class="characters"></div>
                            <div class="shine"></div>
                            <div class="shadow"></div>
                       
                            </div>
                        </label>
                </div>
            </td>
            <td>
                <a id=bitrate1>0</a>
            </td>
        </tr>
        <tr class = "controllers1tablerow">
            <td>
                <a>Karlshamn</a>
            </td>
            <td>
                <a id=bsstatus2>UP</a>
            </td>
            <td>
                <div class="powerbutton">
                    <label class="switch">
                        <input type="checkbox" id="powerb" checked  onclick="change_power(2);">
                        <div class="button">
                        <div class="light"></div>
                        <div class="dots"></div>
                        <div class="characters"></div>
                        <div class="shine"></div>
                        <div class="shadow"></div>
                        </div>
                    </label>
                </div>
                
            </td>
            <td>
                <a id=bitrate2>0</a>
            </td>
        </tr>
        <!-- Add a bunch more rows for base towers -->
    </table>
</div>



{% endblock %}
