
{% extends 'base.html' %}

{% block head %}
<script src="jquery.js"></script>
<script>
    // Make sure to call the function after the external script (jquery.js) is loaded
    $(document).ready(function() {
        re_updateBitrate();
        re_update_status();
        page_load_checkbox();
    });
    $(function () {
        $("li:not(.menu)").click(function (e) {
            e.preventDefault();
            $("li:not(.menu)").removeClass("active");
            $(this).addClass("active");
        });
    });

   
</script>
<title class="Title">5imFortress</title>
{% endblock %}

{% block body %}

<!-- The sidebar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sidebar">
    <a href="/" class="img-link"><img src="https://github.com/frankuman/5imFortress/blob/main/gui/templates/img/logowhite.png?raw=true" alt="Logo" class="img-sidebar"></a>
    <ul>
        <!-- <li></li> -->
        <li  class="menu "><a href="/"><i class="fa fa-fw fa-home"></i> Dashboard</a></li>
        <li  class="menu active"> <a  href="/controllers" class="menu"><i class="fa fa-fw fa-wrench"></i> Controllers</a></li>
        <li  class="menu "> <a  href="/"> <i class="fa fa-fw fa-user"></i> Customers</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-line-chart"></i> Analytics</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-bell"></i> Notification</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-desktop"></i> Systems</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-magic"></i> Generate</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-cogs"></i> Settings</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-plus"></i> Add Tower</a></li>
    </ul>
</div>
<body>
    <div class="controllers1content1">
        <!-- HMI table containing information and controls for each base station -->
        <table class = "controllers1table">
            <tr class = "controllers1tablerow">
                <th class="controllers1tablehead">Tower name</th>
                <th class="controllers1tablehead">Status</th>
                <th class="controllers1tablehead">Power</th>
                <th class="controllers1tablehead">Bitrate</th>
            </tr>
            <!-- BS 1 -->
            <tr class = "controllers1tablerow">
                <td>
                    <a>Karlskrona</a>
                </td>
                <td>
                    <a id=bsstatus1>UP</a>
                </td>
                <td>
                    <div class="powerbutton">
                            <label class="switch">
                                <input type="checkbox" id="powerb1" checked autocomplete="off" onclick="change_power(1);store_checkbox_value(this,1);">
                            
                                <div class="button">
                                <div class="light"></div>
                                <div class="dots"></div>
                                <div class="characters"></div>
                                <div class="shine"></div>
                                <div class="shadow"></div>
                        
                                </div>
                            </label>
                    </div>
                </td>
                <td>
                    <a id=bitrate1>0</a>
                </td>
            </tr>
            <!-- BS 2 -->
            <tr class = "controllers1tablerow">
                <td>
                    <a>Karlshamn</a>
                </td>
                <td>
                    <a id=bsstatus2>UP</a>
                </td>
                <td>
                    <div class="powerbutton">
                        <label class="switch">
                            <input type="checkbox" id="powerb2" checked  onclick="change_power(2);store_checkbox_value(this,2);">
                            <div class="button">
                            <div class="light"></div>
                            <div class="dots"></div>
                            <div class="characters"></div>
                            <div class="shine"></div>
                            <div class="shadow"></div>
                            </div>
                        </label>
                    </div>
                    
                </td>
                <td>
                    <a id=bitrate2>0</a>
                </td>
            </tr>
            <!-- BS 3 -->
            <tr class = "controllers1tablerow">
                <td>
                    <a>Ronneby</a>
                </td>
                <td>
                    <a id=bsstatus3>UP</a>
                </td>
                <td>
                    <div class="powerbutton">
                        <label class="switch">
                            <input type="checkbox" id="powerb3" checked  onclick="change_power(3);store_checkbox_value(this,3);">
                            <div class="button">
                            <div class="light"></div>
                            <div class="dots"></div>
                            <div class="characters"></div>
                            <div class="shine"></div>
                            <div class="shadow"></div>
                            </div>
                        </label>
                    </div>
                    
                </td>
                <td>
                    <a id=bitrate3>0</a>
                </td>
            </tr>
            <!-- BS 4 -->
            <tr class = "controllers1tablerow">
                <td>
                    <a>Sölvesborg</a>
                </td>
                <td>
                    <a id=bsstatus4>UP</a>
                </td>
                <td>
                    <div class="powerbutton">
                        <label class="switch">
                            <input type="checkbox" id="powerb4" checked  onclick="change_power(4);store_checkbox_value(this,4);">
                            <div class="button">
                            <div class="light"></div>
                            <div class="dots"></div>
                            <div class="characters"></div>
                            <div class="shine"></div>
                            <div class="shadow"></div>
                            </div>
                        </label>
                    </div>
                    
                </td>
                <td>
                    <a id=bitrate4>0</a>
                </td>
            </tr>
            <!-- BS 5 -->
            <tr class = "controllers1tablerow">
                <td>
                    <a>Olofström</a>
                </td>
                <td>
                    <a id=bsstatus5>UP</a>
                </td>
                <td>
                    <div class="powerbutton">
                        <label class="switch">
                            <input type="checkbox" id="powerb5" checked  onclick="change_power(5);store_checkbox_value(this,5);">
                            <div class="button">
                            <div class="light"></div>
                            <div class="dots"></div>
                            <div class="characters"></div>
                            <div class="shine"></div>
                            <div class="shadow"></div>
                            </div>
                        </label>
                    </div>
                    
                </td>
                <td>
                    <a id=bitrate5>0</a>
                </td>
            </tr>
        </table>
    </div>
</body>

{% endblock %}
