
{% extends 'base.html' %}

{% block head %}
<script src="jquery.js"></script>
<script>
    // Make sure to call the function after the external script (jquery.js) is loaded
    $(document).ready(function() {
        changeColor();
    });
</script>
<title class="Title">5imFortress</title>
{% endblock %}

{% block body %}
<!-- The sidebar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sidebar">
    <a href="#">LOGO GOES HERE</a>
    <a onclick="changeColor(this)" href="/" class="menu-item is-active"> <i class="fa fa-fw fa-home"></i> Dashboard</a>
    <a onclick="changeColor(this)" href="/controllers" class="menu-item"><i class="fa fa-fw fa-wrench"></i> Controllers</a>
    <a onclick="changeColor(this)" href="#" class="menu-item"> <i class="fa fa-fw fa-user"></i> Customers</a>
    <a href="#">Analytics</a>
    <a href="#">Notification</a>
    <a href="#">Systems</a>
    <a href="#">Generate</a>
    <a href="#">Settings</a>
    <a href="#">Add Tower</a>
</div>

{% endblock %}
