
{% extends 'base.html' %}

{% block head %}
<script src="jquery.js"></script>
<script>
    // Make sure to call the function after the external script (jquery.js) is loaded
    $(document).ready(function() {
        re_update();
        // re_update_status();
        // re_send_current_gain();
        page_load_checkbox();
        page_load_gainvalue();
        ChangeGain();
        
    });
    $(function () {
        $("li:not(.menu)").click(function (e) {
            e.preventDefault();
            $("li:not(.menu)").removeClass("active");
            $(this).addClass("active");
        });
    });
    $(function () {
        $(".e-list").slideUp(function() {
            $(".e-button").removeClass("open");
        });
        
        $(".e-button").on("click", function() {
            if ($(this).hasClass("open")) {
                $(".e-list").slideUp(function() {
                    $(".e-button").removeClass("open");
                });
            } else {
                $(this).addClass("open");
                setTimeout(function() {
                    $(".e-list").stop().slideDown();
                }, 200);
            }
        });
    });

    // Dynamic Graphs
    window.onload = function () {

        var dps = [];
        var chart = new CanvasJS.Chart("chartContainer", {
            axisY2: {
                minimum: 0,
                maximum: 100,
                suffix: "K MBPS"
            },
            axisX: {
                labelFormatter: function () {
                    return " ";
                } 
            },

            data: [{
                type: "spline",
                axisYType: "secondary",
                markerSize: 0,
                dataPoints: dps 
            }]
        });
        
        var xVal = 0;
        var yVal = 100;
        var updateInterval = 2000; // update interval in milliseconds 
        var dataLength = 50; // number of dataPoints visible at any point
        
        var updateChart = function (count) {
            count = count || 1;
            // count is number of times loop runs to generate random dataPoints.
            for (var j = 0; j < count; j++) {	
                yVal = yVal + Math.round(5 + Math.random() *(-5-5));
                yVal = Math.min(yVal, 100);
                dps.push({
                    x: xVal,
                    y: yVal
                });
                xVal++;
            }
            if (dps.length > dataLength) {
                dps.shift();
            }
            chart.render();
        };
        
        updateChart(dataLength); 
        setInterval(function(){ updateChart() }, updateInterval); 
        
        }

</script>
<title class="Title">5imFortress</title>
{% endblock %}

{% block body %}

<!-- The sidebar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sidebar">
    <a href="/" class="img-link"><img src="https://github.com/frankuman/5imFortress/blob/main/frontend/gui/templates/img/logowhite.png?raw=true" alt="Logo" class="img-sidebar"></a>
    <ul>
        <!-- <li></li> -->
        <li  class="menu "><a href="/dashboard"><i class="fa fa-fw fa-home"></i> Dashboard</a></li>
        <li  class="menu active"> <a  href="/controllers" class="menu"><i class="fa fa-fw fa-wrench"></i> Controllers</a></li>
        <li  class="menu "> <a  href="/loggers"> <i class="fa fa-fw fa-file-text"></i> Logs</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-line-chart"></i> Analytics</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-user"></i> Customers</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-desktop"></i> Systems</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-magic"></i> Generate</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-cogs"></i> Settings</a></li>
        <li>                <a href="/"> <i class="fa fa-fw fa-plus"></i> Add Tower</a></li>
    </ul>
</div>
<body>
    <div class = "controllers1topcontent">

        <div class="controllers1content1">

            <!-- HMI table containing information and controls for each base station -->
            <table class = "controllers1table">
                <tr class = "controllers1tablerow">
                    <th class="controllers1tablehead">Tower name</th>
                    <th class="controllers1tablehead">Status</th>
                    <th class="controllers1tablehead">Power</th>
                    <th class="controllers1tablehead">Bitrate</th>
                </tr>
                <!-- BS 1 -->
                <tr class = "controllers1tablerow">
                    <td>
                        <a>Karlskrona</a>
                    </td>
                    <td>
                        <a id=bsstatus1>UP</a>
                    </td>
                    <td>
                        <div class="powerbutton">
                                <label class="switch">
                                    <input type="checkbox" id="powerb1" checked autocomplete="off" onclick="change_power(1);store_checkbox_value(this,1);">
                                
                                    <div class="button">
                                    <div class="light"></div>
                                    <div class="dots"></div>
                                    <div class="characters"></div>
                                    <div class="shine"></div>
                                    <div class="shadow"></div>
                            
                                    </div>
                                </label>
                        </div>
                    </td>
                    <td>
                        <a id=bitrate1>0</a>
                    </td>
                </tr>
                <!-- BS 2 -->
                <tr class = "controllers1tablerow">
                    <td>
                        <a>Karlshamn</a>
                    </td>
                    <td>
                        <a id=bsstatus2>UP</a>
                    </td>
                    <td>
                        <div class="powerbutton">
                            <label class="switch">
                                <input type="checkbox" id="powerb2" checked  onclick="change_power(2);store_checkbox_value(this,2);">
                                <div class="button">
                                <div class="light"></div>
                                <div class="dots"></div>
                                <div class="characters"></div>
                                <div class="shine"></div>
                                <div class="shadow"></div>
                                </div>
                            </label>
                        </div>
                        
                    </td>
                    <td>
                        <a id=bitrate2>0</a>
                    </td>
                </tr>
                <!-- BS 3 -->
                <tr class = "controllers1tablerow">
                    <td>
                        <a>Ronneby</a>
                    </td>
                    <td>
                        <a id=bsstatus3>UP</a>
                    </td>
                    <td>
                        <div class="powerbutton">
                            <label class="switch">
                                <input type="checkbox" id="powerb3" checked  onclick="change_power(3);store_checkbox_value(this,3);">
                                <div class="button">
                                <div class="light"></div>
                                <div class="dots"></div>
                                <div class="characters"></div>
                                <div class="shine"></div>
                                <div class="shadow"></div>
                                </div>
                            </label>
                        </div>
                        
                    </td>
                    <td>
                        <a id=bitrate3>0</a>
                    </td>
                </tr>
                <!-- BS 4 -->
                <tr class = "controllers1tablerow">
                    <td>
                        <a>Sölvesborg</a>
                    </td>
                    <td>
                        <a id=bsstatus4>UP</a>
                    </td>
                    <td>
                        <div class="powerbutton">
                            <label class="switch">
                                <input type="checkbox" id="powerb4" checked  onclick="change_power(4);store_checkbox_value(this,4);">
                                <div class="button">
                                <div class="light"></div>
                                <div class="dots"></div>
                                <div class="characters"></div>
                                <div class="shine"></div>
                                <div class="shadow"></div>
                                </div>
                            </label>
                        </div>
                        
                    </td>
                    <td>
                        <a id=bitrate4>0</a>
                    </td>
                </tr>
                <!-- BS 5 -->
                <tr class = "controllers1tablerow">
                    <td>
                        <a>Olofström</a>
                    </td>
                    <td>
                        <a id=bsstatus5>UP</a>
                    </td>
                    <td>
                        <div class="powerbutton">
                            <label class="switch">
                                <input type="checkbox" id="powerb5" checked  onclick="change_power(5);store_checkbox_value(this,5);">
                                <div class="button">
                                <div class="light"></div>
                                <div class="dots"></div>
                                <div class="characters"></div>
                                <div class="shine"></div>
                                <div class="shadow"></div>
                                </div>
                            </label>
                        </div>
                        
                    </td>
                    <td>
                        <a id=bitrate5>0</a>
                    </td>
                </tr>
            </table>
        </div>

        
        <div class="controllers1content2"></div>
        <div class="controllers1content3">
            <!-- Här Farhad -->
            <div id="chartContainer" class="chartContainer" style="height: 370px; width: 100%;"></div>
            <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script> 
                


        </div>
    </div>
    <div class = "controllers1bottomcontent">
        <nav class="navigation navigation--inline">
            <ul>
              <li act class="setnav active">
                <a href="#" onclick="ShowSettings(1)">1
                  <svg class="icon icon--2x">
                    <use xlink:href="#icon-home" />
                  </svg>
                  <span class="invisible">1</span>
                </a>
              </li>
              <li class="setnav">
                <a href="#" onclick="ShowSettings(2)">2
                  <svg class="icon icon--2x">
                    <use xlink:href="#icon-search" />
                  </svg>
                  <span class="invisible">2</span>
                </a>
              </li>
              <li class="setnav">
                <a href="#" onclick="ShowSettings(3)">3
                  <svg class="icon icon--2x">
                    <use xlink:href="#icon-cart" />
                  </svg>
                  <span class="invisible">3</span>
                </a>
              </li>
              <li>
                <a href="#" onclick="ShowSettings(4)">4

                  <span class="invisible">4</span>
                </a>
              </li>
              <li class="setnav">
                <a href="#" onclick="ShowSettings(5)">5

                  <span class="invisible">5</span>
                </a>
              </li>
            </ul>
        </nav>
        <div class="controllers1content4">
            
        </div>
        
        <div class="controllers1content5">
            <output id="GainValue1">0% GAIN</output>
            <output hidden id="GainValue2">0% GAIN</output>
            <output hidden id="GainValue3">0% GAIN</output>
            <output hidden id="GainValue4">0% GAIN</output>
            <output hidden id="GainValue5">0% GAIN</output>

        </div>
        <div class="controllers1content6">
            <input id="Gain1" type='range' value='0' oninput="ChangeGain(1)"/>
            <input hidden id="Gain3" type='range' value='0' oninput="ChangeGain(3)"/>
            <input hidden id="Gain4" type='range' value='0' oninput="ChangeGain(4)"/>
            <input hidden id="Gain5" type='range' value='0' oninput="ChangeGain(5)"/>
            <input hidden id="Gain2" type='range' value='0' oninput="ChangeGain(2)"/>
        </div>
    </div>

</body>

{% endblock %}
